@import url(http://cdn.leafletjs.com/leaflet-0.5/leaflet.css);
body, html {
    height:100%;
}
/*
#container {
    float:left;
    width: 83%;
}
#overview {
    float:left;
    background:red;
    width:13%;
}
#map {
    width: 70%;
    height: 98%;
    float:right;
}
#circleVis {
    float:right;
    background: black;
    width:17%;
    height: 98%;
}
*/
#map {
    height:750px;
}
.container {
    overflow: hidden;
}
.right {
    float: right;
    width: 200px;
    border-top:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black;

    height:750px;
}
.left {
    float: left;
    width: 200px;
    border-top:2px solid black;
    border-left:2px solid black;
    border-bottom:2px solid black;
    border-right:2px solid black;

    height:750px;
}
.middle {
    margin: 0 200px;
    border-top: 2px solid black;;
}
h2 span {
    color: white;
    font: bold 34px/55px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    zIndexOffset: 1000;
    line-height:40px;
}
.cityNodes {
	opacity:1;
    /* transition:-webkit-transform 0.5s, fill 0.5s; */
    /* fill:#d9d9d9; */
    fill:steelblue; 
    /*
    -webkit-filter: drop-shadow(0 0 140px 90px #0ff );
    filter: drop-shadow(0 0 140px 90px #0ff );
    */
/*
    box-shadow:
    0 0 60px 30px #fff,  
    0 0 100px 60px #f0f, 
    0 0 140px 90px #0ff; outer cyan */
    
}
.cityNodes:hover {
    opacity:1;
    cursor:default; 
    /* fill: steelblue; 
    -webkit-transform: scale(1.2, 1.2); */
}
.arc {
	fill: none;
	stroke: #000;
}
.link {
	fill: none;
	stroke: steelblue; 
    stroke-opacity:0.7;    
}
.dot {
    /* fill:white; */
    fill:black;
}
.label {
    /* fill:white; */
    fill:black;
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
.overviewParagraph {
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    padding:10px;
}